*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
nav{
   display: flex;
   justify-content: space-between;
   background-color: #108a24;
   height: 50px;
   width: 100%;
   position: fixed;
   z-index: 1;
   padding-top: 50px;
   transition: 0.3s;
   align-items: center;
   top: 0;
   left: 0;
   bottom: 0;
}

.nav-links{
   position: fixed;
   background-color: #108a24;
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 3.1rem;
   right: -800px;
   height: 600px;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease-in;

}
.nav-links li{
   list-style:none;
   padding: 1rem;
   opacity: 0;
}
.nav-links a{
   text-decoration: none;
   color: black;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
   transition: ease 0.4s;
}
.nav-links a:hover{
   color: rgba(0, 0, 0, 0.315);
}
.burger{
   position: absolute;
   right: 0;
   top: 0;
   margin: 0.6rem 1rem;
}
.burger div{
   background-color: black;
   width: 25px;
   height: 3px;
   margin: 5px;
   transition: all 0.5s ease;
}
.nav-active{
   right: 0;
}

@keyframes navLinkFade{
   from{
       opacity: 0;
       transform: translateX(50px);
   }
   to{
       opacity: 1;
       transform: translateX(0px);
   }
}


.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px);
}
.footer{
   width: 100%;
   background-color: black;
   height: 200px;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   text-align: center;
}
.footer p {
   padding: 0.3rem;
   font-size: 14px;
}
.contact a{
   color: white;
   font-size: 30px;
   padding: 0.3rem 0.5rem;
   transition: 0.3s;
}
.contact a:hover{
   color: rgb(128, 128, 128);
   transform: scale(0.2); 
}
#container1{
   background: #5A3F37;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   z-index: -1;
   min-height: 100vh;
   position: relative;
}
.covid{
   width: 200px;
}
.adn{
   width: 185px;
}
.covid-small{
   width: 150px;
}
.adn-small{
   width: 150px;
}
#container1 h1{
   color: white;
   font-size: 4.2rem;
   font-family: 'Montserrat';
   padding: 1rem;
}
#container2{
   z-index: 1;
   min-height: 100vh;
   background-color: yellow;
}
.container1-text{
   width: 100%;
   display: flex;
   justify-content: center;
   height: 250px;
   flex-direction: column;
   align-items: center;
}
#container1 h2{
   color: white;
   font-size: 2rem;
   font-family: 'montserrat';

}
.container1-images{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#container3{
   background-color: yellowgreen;
   min-height: 100vh;
}